<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title - CRM</title>
    @RenderSection("styles", required: false)
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- FooTable -->
    <link href="~/Content/css/plugins/footable/footable.core.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/style_shr.css" rel="stylesheet">
    <link href="~/Content/site.css?v=@ViewBag.BuildVersion" rel="stylesheet">
    <link href="~/Content/dev/navigation/nav.css?v=@ViewBag.BuildVersion" rel="stylesheet" />

    @using CRM.BusinessEntities
    @using CRMAdmin.Helper
    @using CRM.GlobalResources
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header ">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="logo" src="~/Content/images/shr-logo-final-white_44x44.png" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                <span class="clear"><span class="block product-name">Maverick CRM<span class="fa arrow"></span></span> </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="">Profile</a></li>
                                <li><a href="">Contacts</a></li>
                                <li><a href="">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="~/Account/Logout">@Navigation.Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            CRM
                        </div>
                    </li>
                    <li id="liDashboard">
                        <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">@Navigation.Dashboard</span></a>
                    </li>
                    <li id="liCampaignManagementTools">
                        <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">Start New Test</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li id="liMauticComponents">
                                <a href="#"><i class="fa fa-puzzle-piece"></i> <span class="nav-label">9th Grade</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li id="liAssets"><a href="~/Test/Topics?Grade=9&Subject=Math">Math</a></li>
                                    <li id="liForms"><a href="~/Test/Topics?Grade=9&Subject=Physics">Pyhsics</a></li>
                                </ul>
                            </li>
                            <li id="liMauticChannels">
                                <a href="#"><i class="fa fa-rss"></i> <span class="nav-label">10th Grade</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li id="liAssets"><a href="~/Test/Topics?Grade=10&Subject=Math">Math</a></li>
                                    <li id="liForms"><a href="~/Test/Topics?Grade=10&Subject=Math">Pyhsics</a></li>
                                </ul>
                            </li>
                            <li id="liMauticCampaign">
                                <a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=campaigns"><i class="fa fa-clock-o"></i> <span class="nav-label">@Navigation.Campaign</span></a>
                            </li>
                            <li id="liMauticSegments">
                                <a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=segments"><i class="fa fa-pie-chart"></i> <span class="nav-label">@Navigation.Segments</span></a>
                            </li>
                            <li id="liTransactionalEmail"><a href="~/TransactionEmail/List"><i class="fa fa-envelope-o"></i> <span class="nav-label">@Navigation.TransactionalEmail</span></a></li>
                        </ul>
                    </li>

                    <li id="liMauticCampaign">
                        <a href="~/Test/UploadAnswer"><i class="fa fa-clock-o"></i> <span class="nav-label">Submit Test Results</span></a>
                    </li>


                    <li id="liCampaignManagementTools">
                        <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">Past Tests</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li id="liMauticComponents">
                                <a href="#"><i class="fa fa-puzzle-piece"></i> <span class="nav-label">9th Grade</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li id="liAssets"><a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=assets">Math</a></li>
                                    <li id="liForms"><a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=forms">Pyhsics</a></li>
                                </ul>
                            </li>
                            <li id="liMauticChannels">
                                <a href="#"><i class="fa fa-rss"></i> <span class="nav-label">10th Grade</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level collapse">
                                    <li id="liAssets"><a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=assets">Math</a></li>
                                    <li id="liForms"><a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=forms">Pyhsics</a></li>
                                </ul>
                            </li>
                            <li id="liMauticCampaign">
                                <a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=campaigns"><i class="fa fa-clock-o"></i> <span class="nav-label">@Navigation.Campaign</span></a>
                            </li>
                            <li id="liMauticSegments">
                                <a href="@SimpleSessionPersister.CurrentUser.MauticUrl/s/sso_cookie/login?r=segments"><i class="fa fa-pie-chart"></i> <span class="nav-label">@Navigation.Segments</span></a>
                            </li>
                            <li id="liTransactionalEmail"><a href="~/TransactionEmail/List"><i class="fa fa-envelope-o"></i> <span class="nav-label">@Navigation.TransactionalEmail</span></a></li>
                        </ul>
                    </li>

                    <li id="liSchool">
                        <a href="#"><i class="fa fa-lock"></i> <span class="nav-label">Manage Schools</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li id="liUserProfile"><a href="~/UserProfile/Search">Add School</a></li>
                            <li id="liUserProfile"><a href="~/UserProfile/Search">Search Schools</a></li>
                        </ul>
                    </li>
                    <li id="liSecurity">
                        <a href="#"><i class="fa fa-lock"></i> <span class="nav-label">@Navigation.Security</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li id="liUserProfile"><a href="~/UserProfile/Search">@Navigation.UserProfile</a></li>
                            <li id="liRoles"><a href="~/Roles/Search">@Navigation.Roles</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2" href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="~/GlobalQuery/Index">
                            <div class="form-group">
                                <input type="text" placeholder="@Navigation.SearchForSth" class="form-control" name="top-search" id="top-search" value="@ViewBag.TopSearchName">
                            </div>
                        </form>
                    </div>

                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <div class="profile-element">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="">
                                    <span class=""><img alt="image" class="img-circle" src="~/Content/images/profile_small_dmoneo.jpg" /><strong class="font-bold">@CRMAdmin.Helper.SimpleSessionPersister.CurrentUser.FieldName</strong><b class="caret"></b></span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="">Profile</a></li>
                                    <li><a href="">Contacts</a></li>
                                    <li><a href="">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="~/Account/Logout">
                                            <i class="fa fa-sign-out"></i> @Navigation.Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                    @if (SimpleSessionPersister.CurrentUser.UserLevel_Enum == UserLevelEnum.SystemLevel)
                    {
                        <div class="nav navbar-top-links">
                            <form id="formChangeClient" role="form" class="navbar-form-custom" action="~/Account/SuperUserChangeClient">
                                <select id="ClientDropDown" name="ClientDropDown" class="form-control">
                                    @foreach (var ClientInfo in SimpleSessionPersister.CurrentUser.Clients)
                                    {
                                        if (ClientInfo.ClientID == SimpleSessionPersister.CurrentUser.ClientID)
                                        {
                                            <option value="@ClientInfo.ClientID" data="@ClientInfo.ClusterDB" selected>@ClientInfo.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@ClientInfo.ClientID" data="@ClientInfo.ClusterDB">@ClientInfo.Name</option>
                                        }
                                    }

                                </select>
                                <input type="hidden" value="" name="requestUrl" id="requestUrl" />
                            </form>
                        </div>

                    }
                </nav>
            </div>
            @RenderBody()
            @RenderPage("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/dev/site.js"></script>

    <!-- FooTable -->
    @*<script src="~/Scripts/plugins/footable/footable.all.min.js"></script>*@
    <script src="~/Scripts/plugins/footable/footable.min.js"></script>
    <script src="~/Scripts/plugins/footable/footable.striping.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/inspinia.js"></script>
    <script src="~/Scripts/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/dev/navigation.js?v=@ViewBag.BuildVersion"></script>
    @RenderSection("scripts", required: false)
    <!-- Page-Level Scripts -->

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@SimpleSessionPersister.CurrentUser.AccountInfo.GoogleTracingCode"></script>
    <script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', '@SimpleSessionPersister.CurrentUser.AccountInfo.GoogleTracingCode');
    </script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

        });
    </script>
    <script>
        $('#liProgramSetup').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liProgramSetup').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liProgramSetup').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('#liLoyaltySetup').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liLoyaltySetup').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liLoyaltySetup').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('#liOffers').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liOffers').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liOffers').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('#liGuestPortalSetup').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liGuestPortalSetup').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liGuestPortalSetup').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('#liProfileManagement').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liProfileManagement').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liProfileManagement').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('#liCRMReports').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liCRMReports').addClass('active').find('ul').removeClass('collapse');
            }
            else {

                $('#liCRMReports').removeClass('active').find('ul').addClass('collapse');
            }
        });       
        $('#liSecurity').click(function () {
            if ($(this).hasClass('active') == false) {
                $('#side-menu').find('li').removeClass('active');
                $('#liSecurity').addClass('active').find('ul').removeClass('collapse');
            }
            else {
                $('#liSecurity').removeClass('active').find('ul').addClass('collapse');
            }
        });
        $('.navbar-minimalize').unbind('click').bind('click', function () {
            $('body').toggleClass("mini-navbar");
            SmoothlyMenu();
        });

    </script>
</body>
</html>
