
@model CRMAdmin.Models.Pagination
@if (Model != null && Model.Total > 0)
{
    int start = Model.PageNum - 5;
    if (start <= 0)
    {
        start = 1;
    }

    int end = Model.PageNum + 5;
    if (end > Model.TotalPage)
    {
        end = Model.TotalPage;
    }

    int pre = Model.PageNum - 1;
    if (pre <= 0)
    {
        pre = 1;
    }

    int next = Model.PageNum + 1;
    if (next > Model.TotalPage)
    {
        next = Model.TotalPage;
    }
    <div class="row">
        <div class="col-sm-5 pull-left"></div>
        <div class="col-sm-7 pull-right text-right">
            <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                <ul class="pagination">
                    @if (Model.TotalPage > 1)
                {
                        <li class="paginate_button previous @Html.Raw(Model.PageNum == start ? "disabled" : "")" id="editable_previous">
                            <a href="#" aria-controls="editable" data-dt-idx="1" tabindex="1">«</a>
                        </li>
                        <li class="paginate_button previous @Html.Raw(Model.PageNum == start ? "disabled" : "")" id="editable_previous">
                            <a href="#" aria-controls="editable" data-dt-idx="@pre" tabindex="@pre">‹</a>
                        </li>
                    }
                    @for (int i = start; i <= end; i++)
                {
                        <li class="paginate_button @Html.Raw(Model.PageNum == i ? "active" : "")">
                            <a href="#" class="@Html.Raw(Model.PageNum == i ? "bg-navy" : "")" aria-controls="editable" data-dt-idx="@i" tabindex="0">@i</a>
                        </li>
                    }
                    @if (Model.TotalPage > 1)
                {
                        <li class="paginate_button next @Html.Raw(Model.PageNum == end ? "disabled" : "")" id="editable_next">
                            <a href="#" aria-controls="editable" data-dt-idx="@next" tabindex="@next">›</a>
                        </li>
                        <li class="paginate_button next @Html.Raw(Model.PageNum == end ? "disabled" : "")" id="editable_next">
                            <a href="#" aria-controls="editable" data-dt-idx="@Model.TotalPage" tabindex="@Model.TotalPage">»</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-sm-7 pull-right text-right">
            @if (Model.DisablePerPage == false)
            {
                <div class="pull-right m-l-lg">
                    <select class="pagedSelect">
                        <option @if (Model.PageSize == 5) { @Html.Raw("selected")       } value="5">5</option>
                        <option @if (Model.PageSize == 10) { @Html.Raw("selected")       } value="10">10</option>
                        <option @if (Model.PageSize == 25) { @Html.Raw("selected")       } value="25">25</option>
                        <option @if (Model.PageSize == 100) { @Html.Raw("selected")       } value="100">100</option>
                    </select>
                </div>
            }
            <div class="pull-right">
                <div class="dataTables_info pull-left" id="editable_info" role="status" aria-live="polite">@Common.pageShowing @Model.StartIndex @Common.pageTo @Model.EndIndex @Common.pageOf @Model.Total @Common.pageEntries</div>
            </div>
        </div>
    </div>
}

