@using CRM.GlobalResources
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Login.ResetPwd</title>
    @Styles.Render("~/Main/css")
    <link href="~/Content/dev/Account/login.css?v=@ViewBag.BuildVersion" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                <div class="logo-name">
                    <img src="~/Content/images/shr-logo2.svg" />
                </div>

            </div>
            <div class="alert alert-danger alert-dismissable" id="ErrorMessageDiv">
                <span id="ErrorMessage">@TempData["ErrorMessage"]</span>
            </div>
            @if (ViewBag.Active)
            {
                <form class="m-t" role="form" method="post">
                    <label class="pull-left">@Login.PleaseEnterUserName</label>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="@Login.UserName" required="" name="username" id="username">
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">@Login.SendPassWordResetLink</button>
                </form>
            }
            else
            {
                <div class="form-group">
                    <h3>@Login.Emailhasbeensent</h3>
                    @*<p><a href="@Url.Content("~/Account/ResetPassword?Token="+ViewBag.Token)">@Url.Content("~/Account/ResetPassword?Token=" + ViewBag.Token)</a></p>*@
                </div>
            }
        </div>
    </div>

    <input type="hidden" id="hidRequired" value="@Common.Required" />
    <input type="hidden" id="hidUserName" value="@Login.UserName" />

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/dev/Account/emailpwd.js?v=@ViewBag.BuildVersion"></script>
</body>
</html>
